apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: voice-stage
  name: voice-redirect
  annotations:
    kubernetes.io/ingress.class: "voice-stage"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
        if ($request_uri ~* \/(?!firefox-voice)) {
          return 302 https://commonvoice.allizom.org$request_uri;
        }    
        
        location /firefox-voice {
          if ($http_x_forwarded_proto = 'http') {
            rewrite ^ https://$host$request_uri? permanent;
           }
           add_header Content-Security-Policy "default-src 'none'; connect-src https://www.google-analytics.com https://sentry.prod.mozaws.net; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.googleapis.com; script-src 'self' https://www.google-analytics.com; img-src 'self' data:; child-src https://www.youtube.com" ;
           proxy_pass https://mozilla-extensions.github.io/firefox-voice/homepage;
         }
spec:
  rules:
  - host: voice.allizom.org
