---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-stage
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/voice_web: glob:stage-*
spec:
  releaseName: voice-stage

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.3.0
  values:
    voice_web:
      # Customize deployment name per environment to make hostnames differents,
      # allowing us to segregate logs in Papertrail
      deployment_name: voice-stage
      use_external_secrets: true
      use_default_secrets_file: false
      image: mozilla/commonvoice:stage-df03820293fab3e5c33793570a7c0356220f268a
      replicas: 3
      service_account_name: voice-stage
      extra_annotations:
        configmap.reloader.stakater.com/reload: "voice-config"
        secret.reloader.stakater.com/reload: "voice"

      ingress:
        enabled: true
        class: voice-stage
        hosts:
        - stage.voice.mozit.cloud
        - commonvoice.allizom.org

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice/voice-web-stage"

      config:
        environment: stage
        redis_url: "rediss://master.stage-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-stage.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "admin"
          user: "admin"
        s3:
          bucket_name: "voice-stage-clips-934a7753ac94c18242c82ed71d5088b24b02bdd6"
          clip_bucket_name: "voice-stage-clips-934a7753ac94c18242c82ed71d5088b24b02bdd6"
          dataset_bucket_name: "mozilla-common-voice-datasets"
          location: "us-west-2"
        prod: true # we need this also for stage
        extra_vars:
          CV_ENVIRONMENT: "stage"
          CV_BENCHMARK_LIVE: "true"
          CV_DATASET_BUCKET_NAME: "mozilla-common-voice-datasets"
          CV_CLIP_BUCKET_NAME: "voice-stage-clips-934a7753ac94c18242c82ed71d5088b24b02bdd6"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

      extra_containers:
      - name: logs-to-papertrail
        image: 058419420086.dkr.ecr.us-west-2.amazonaws.com/remote_syslog2:0.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /logs
          name: logs
        - mountPath: /etc/rs2
          name: papertrail-conf

    new_relic:
      enabled: true
      app_name: voice-stage

    redis:
      enabled: false
    mysql:
      enabled: false
