apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: ingress-controller
  namespace: voice-dev
spec:
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com
    name: nginx-ingress
    version: 1.31.0
  values:
    controller:
      name: ingress-voice-dev
      ingressClass: voice-dev # Value used for selecting Ingress objects
      scope:
        enabled: true
        namespace: voice-dev
      kind: Deployment
      autoscalig: 
        enabled: false
      replicaCount: 1
      addHeaders:
        X-Frame-Options: "DENY"
        X-Content-Type-Options: "nosniff"

      service:
        targetPorts:
          https: http
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
          service.beta.kubernetes.io/aws-load-balancer-ssl-ports: https
          service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:us-west-2:058419420086:certificate/a1eae049-6d83-4020-989b-6e9c48a34bee
spec:
      config:
        use-forwarded-headers: "true"
        ssl-redirect: "true"
        force-ssl-redirect: "true"
        hsts: "true"
        hsts-include-subdomains: "true"

    defaultBackend:
      enabled: false
