---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-dev
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/voice_web: glob:master-*
spec:
  releaseName: voice-dev

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.1.15
  values:
    namespace: voice-dev
    voice_web:
      # Customize deployment name per environment to make hostnames differents,
      # allowing us to segregate logs in Papertrail
      deployment_name: voice-dev
      use_secrets_file: true
      use_default_secrets_file: false
      image: itsre/voice-web:master-16d38229594dc892fb6b914553de9164ea349c06

      ingress:
        enabled: true
        class: voice-dev
        host: dev.voice.mozit.cloud
        additional_host: voice-dev.allizom.org
        extra_annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/server-snippet: |
            location /firefox-voice {
              if ($http_x_forwarded_proto = 'http') {
                rewrite ^ https://$host$request_uri? permanent;
              }
              add_header Content-Security-Policy "default-src 'none'; connect-src https://www.google-analytics.com https://sentry.prod.mozaws.net; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.googleapis.com; script-src 'self' https://www.google-analytics.com; img-src 'self' data:; child-src https://www.youtube.com" ;
              proxy_pass https://mozilla.github.io/firefox-voice/homepage;
            }

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice/voice-web-dev"

      config:
        redis_url: "rediss://dev-voice-eks-001.dev-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-dev.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "voice"
        s3:
          bucket_name: "voice-dev-clips-20191211013626583200000002"
          location: "us-west-2"
        extra_vars:
          CV_ENVIRONMENT: "dev"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

      extra_containers:
      - name: logs-to-papertrail
        image: itsre/remote_syslog2:0.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /logs
          name: logs
        - mountPath: /etc/rs2
          name: papertrail-conf

      es_sync:
        enabled: false

    new_relic:
      enabled: true
      app_name: voice-dev

    redis:
      enabled: false
    elasticsearch:
      enabled: false
    kibana:
      enabled: false
    mysql:
      enabled: false
