apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-dev
  annotations:
    fluxcd.io/automated: "true"
    #filter.fluxcd.io/chart-image: glob:master-*
spec:
  releaseName: voice-dev

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.0.33
  values:
    namespace: voice-dev
    voice_web:
      use_secrets_file: false
      image: jgiannelos/voice-web-dev:latest
      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice-web-dev"

      config:
        redis_url: "redis://dev-voice-eks-001.dev-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-dev.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"


    redis:
      enabled: false
    elasticsearch:
      enabled: false
    kibana:
      enabled: false
    mysql:
      enabled: false
