---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-dev
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/voice_web: glob:master-*
spec:
  releaseName: voice-dev

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.1.10
  values:
    namespace: voice-dev
    voice_web:
      # Customize deployment name per environment to make hostnames differents,
      # allowing us to segregate logs in Papertrail
      deployment_name: voice-dev
      use_secrets_file: true
      use_default_secrets_file: false
      image: itsre/voice-web:master-88125e4315191749f730e815b757a64b22b7e426

      ingress:
        enabled: true
        class: voice-dev
        host: dev.voice.mozit.cloud
        additional_host: voice-dev.allizom.org

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice-web-dev"

      config:
        redis_url: "rediss://dev-voice-eks-001.dev-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-dev.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "voice"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

      extra_containers:
      - name: logs-to-papertrail
        image: itsre/remote_syslog2:0.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /logs
          name: logs
        - mountPath: /etc/rs2
          name: papertrail-conf

      es_sync:
        enabled: true

    new_relic:
      enabled: true
      app_name: voice-dev

    redis:
      enabled: false
    elasticsearch:
      enabled: false
    kibana:
      enabled: false
    mysql:
      enabled: false
