---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-dev
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/voice_web: glob:main-*
spec:
  releaseName: voice-dev

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.4.1
  values:
    voice_web:
      # Customize deployment name per environment to make hostnames differents,
      # allowing us to segregate logs in Papertrail
      deployment_name: voice-dev
      replicas: 3
      use_external_secrets: true
      use_default_secrets_file: false
      image: mozilla/commonvoice:main-df29f8f01489300eb30d434675d3d756c2cbda03
      service_account_name: voice-dev
      extra_annotations:
        configmap.reloader.stakater.com/reload: "voice-config"
        secret.reloader.stakater.com/reload: "voice"

      ingress:
        enabled: true
        class: voice-dev
        hosts:
        - dev.commonvoice.allizom.org
        - dev.voice.mozit.cloud
        extra_annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice/voice-web-dev"

      config:
        environment: dev
        redis_url: "rediss://dev-voice-eks-001.dev-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-dev.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "voice"
        s3:
          bucket_name: "voice-dev-clips-20191211013626583200000002"
          clip_bucket_name: "voice-dev-clips-20191211013626583200000002"
          dataset_bucket_name: "mozilla-common-voice-datasets-stage"
          location: "us-west-2"
        extra_vars:
          CV_ENVIRONMENT: "dev"
          CV_COVID19_LIVE: "true"
          CV_IMPORT_SENTENCES: "true"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

      extra_containers:
      - name: logs-to-papertrail
        image: 058419420086.dkr.ecr.us-west-2.amazonaws.com/remote_syslog2:0.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /logs
          name: logs
        - mountPath: /etc/rs2
          name: papertrail-conf

      es_sync:
        enabled: false

    new_relic:
      enabled: true
      app_name: voice-dev

    redis:
      enabled: false
    elasticsearch:
      enabled: false
    kibana:
      enabled: false
    mysql:
      enabled: false
