---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-sandbox
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/chart-image: glob:sandbox-*
spec:
  releaseName: voice-sandbox

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.1.2
  values:
    namespace: voice-sandbox
    voice_web:
      use_secrets_file: true
      use_default_secrets_file: false
      image: itsre/voice-web:master-146669ae321b29a6f12086525221a1d3ca9febd8

      ingress:
        enabled: true
        class: voice-sandbox
        host: sandbox.voice.mozit.cloud
        additional_host: voice-sandbox.allizom.org

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice-web-sandbox"

      config:
        redis_url: "redis://master.sandbox-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-sandbox.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "voice"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

    new_relic:
      enabled: true
      app_name: voice-sandbox

    redis:
      enabled: false
    elasticsearch:
      enabled: false
    kibana:
      enabled: false
    mysql:
      enabled: false
