---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: voice
  namespace: voice-prod
  annotations:
    fluxcd.io/automated: "false"
    filter.fluxcd.io/voice_web: glob:release-v*
spec:
  releaseName: voice-prod

  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mozilla-common-voice
    version: 0.4.1
  values:
    voice_web:
      # Customize deployment name per environment to make hostnames differents,
      # allowing us to segregate logs in Papertrail
      deployment_name: voice-prod
      replicas: 15
      use_external_secrets: true
      use_default_secrets_file: false
      image: mozilla/commonvoice:release-v1.38.2
      service_account_name: voice-prod

      ingress:
        enabled: true
        class: voice-prod
        hosts:
          - prod.voice.mozit.cloud
          - commonvoice.mozilla.org

      service_account:
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::058419420086:role/voice/voice-web-prod"

      config:
        redis_url: "rediss://master.prod-voice-eks.cljunw.usw2.cache.amazonaws.com"
        mysql:
          host: "voice-eks-prod.cd5od9qtbvp0.us-west-2.rds.amazonaws.com"
          root_user: "admin"
          user: "admin"
        s3:
          bucket_name: "voice-prod-clips-393eefd0cba28c270ced0f9587a4f6ae601ca91e"
          clip_bucket_name: "voice-prod-clips-393eefd0cba28c270ced0f9587a4f6ae601ca91e"
          dataset_bucket_name: "mozilla-common-voice-datasets-stage"
          location: "us-west-2"
        prod: true
        environment: prod
        admin_emails: "['adelbarrio@mozilla.com', 'aklepel@mozilla.com', 'jennyzhang@mozilla.com', 'lsaunders@mozilla.com', 'martin@mozilla.com', 'mbranson@mozilla.com', 'rshaw@mozilla.com']"
        extra_vars:
          # Note: extra_vars have to be always quoted
          CV_ENVIRONMENT: "prod"
          CV_IMPORT_SENTENCES: "true"
          CV_BENCHMARK_LIVE: "true"
          CV_SENTRY_DSN: "https://08902ca27fb24d448975e88d3da5c96b@sentry.prod.mozaws.net/503"
          CV_DATASET_BUCKET_NAME: "mozilla-common-voice-datasets-stage"
          CV_CLIP_BUCKET_NAME: "voice-prod-clips-393eefd0cba28c270ced0f9587a4f6ae601ca91e"

      extra_volumes:
      - name: papertrail-conf
        secret:
          secretName: papertrail-secrets

      extra_containers:
      - name: logs-to-papertrail
        image: 058419420086.dkr.ecr.us-west-2.amazonaws.com/remote_syslog2:0.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /logs
          name: logs
        - mountPath: /etc/rs2
          name: papertrail-conf

    new_relic:
      enabled: true
      app_name: voice-prod

    redis:
      enabled: false
    mysql:
      enabled: false
